* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    font-size: 40px;
   
}
/* 
html {
    height: 100%;
    width: 100%;
 
  } */

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /* background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% ); */
     background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 180% 180%;

    -webkit-animation: rainbow 5s ease infinite;
    -z-animation: rainbow 5s ease infinite;
    -o-animation: rainbow 5s ease infinite;
    animation: rainbow 5s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}


  

.title-container {
    display: flex;
    justify-content: center;
  
     
   
    /* flex-direction: row; */
}

h1 {
    font-size: 100px; 
    opacity: 0.8;
    margin-top: 160px;
    margin-left: 20px;
    margin-right: 20px;
}

/* h1:hover {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

img {
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 9999px;
}

#money-sign {
    margin-top: 30px;
    margin-right: 20px;
    height: 60px;
    width: 60px;
    fill: rgba(0, 0, 0, 0.2);

   
  }

.box-container {
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    /* background-color: tomato; */
    border-radius: 10px;
    height: 300px;
    position: relative;
    background: linear-gradient(320deg, rgba(0, 140, 255, 0.678), rgba(128, 0, 128, 0.308));
    z-index: 1;
    transition: background 3s;
   
    

}

select {
    margin-top: 30px;
    border: none;
    text-align: center;
    /* background-color: tomato; */
    /* color: white; */

    /* OUTSOURCE */
    position: relative;
    background: rgba(0, 0, 0, 0);
    align-items: center;
    border-radius: 22px;
    /* max-width: 400px; */
    /* perspective: 500px; */

}

input {
    margin-top: 30px;
    border: none;
    text-align: center;
    /* background-color: tomato; */
   

    /* OUTSOURCE */
    position: relative;
    background: rgba(0, 0, 0, 0);
    align-items: center;
    border-radius: 22px;
    max-width: 400px;
    perspective: 500px;
    
}


 




/*  */

.button-circle {
    display: flex;
    justify-content: center;
    z-index: 1;
    
    
} 

#swap-currency {
    background-color: white;
    border: 6px solid rgba(0, 0, 0, 0.3);
    
    border-radius: 9999px;
    border: 50%;
    font-size: 40px;
    position: absolute;
    top: 220px;
    left: 620px;

}

input:hover, select:hover {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#swap-icon {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    fill: rgba(0, 0, 0, 0.1);
}

#swap-icon:hover {
    fill: white;
}


.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    height: 300px;
}

#history-record {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-radius: 10px;
    padding: 30px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
   
}

#view-history {
    margin-right: 30px;
    padding: 60px;
    /* background-color: tomato; */
    border-radius: 10px;
    /* color: white; */

    /* OUTSOURCE */
    background: transparent;
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    /* padding: 20px 30px; */
    perspective: 30rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
  
}


#view-history::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(320deg, rgba(0, 140, 255, 0.678), rgba(128, 0, 128, 0.308));
    z-index: 1;
    transition: background 3s;
  }

#view-history:hover::before {
    animation: rotate 1s;
    transition: all .5s;
  }

  @keyframes rotate {
    0% {
      transform: rotateY(180deg);
    }
  
    100% {
      transform: rotateY(360deg);
    }
  }

#delete-history {
    margin-right: 30px;
    padding: 60px;
    /* background-color: tomato; */
    border-radius: 10px;
    /* color: white; */

     /* OUTSOURCE */
     background: transparent;
     color: black;
     font-size: 30px;
     text-transform: uppercase;
     font-weight: 600;
     border: none;
     /* padding: 20px 30px; */
     perspective: 30rem;
     border-radius: 10px;
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
   
 }

#delete-history::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(320deg, rgba(0, 140, 255, 0.678), rgba(128, 0, 128, 0.308));
    z-index: 1;
    transition: background 3s;
  }

#delete-history:hover::before {
    animation: rotate 1s;
    transition: all .5s;
  }

  @keyframes rotate {
    0% {
      transform: rotateY(180deg);
    }
  
    100% {
      transform: rotateY(360deg);
    }
  }

#track-history {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 10px;
    width: 1380px;
    background-color: white;
    color: black;
    padding: 30px;
    text-align: center;
}

#track-history2 {
    display: flex;
    justify-content: center;
}

#print-history {
    font-size: 20px;
    margin-bottom: 10px;
    
}

footer {
    font-size: 30px;
    margin: 20px;
    display: flex;
   
}

/* .spinner {
    margin: 80px;
} */






  
 
  
 
  
 